<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.bloopyworks.platform">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloopyWorks"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.mainscreen.homepage.livelocation.LiveLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainscreen.homepage.early.RequestEarlyActivityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainscreen.homepage.timeoff.ReqTimeoffActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainscreen.homepage.timeoff.TimeoffActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainscreen.homepage.overtime.ReqOvertimeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainscreen.homepage.overtime.OvertimeMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainscreen.homepage.early.ReqEarlyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainscreen.homepage.early.EarlyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainscreen.homepage.attendance.RequestAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainscreen.homepage.attendance.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.landing.splashScreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.mainactivity.MainActivity"
            android:exported="false" />
    </application>

</manifest>